body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15% 3%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}



/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;

}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download Buttons */
.download-button{
    margin: 5% 7% 5% 0;
}

/* Title Image */ 
.title-image{
    position: absolute;
    right: 25%;
    padding-left: 50px;
    width: 25%;
    transform: rotate(25deg);
}

/* Features */

#features{
    position: relative;
    padding: 7% 15%;
    background-color: white;
    /* z-index: 1; */
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 135%;
}

p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 8%;
    border-radius: 100%;
    margin: 20px;
} 

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
} 

.carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}
 
.pricing-column{
    padding: 3% 2%;
}

/* Media Query Breakpoints */

@media (max-width:991px){
    #title{
        text-align: center;
    }
    
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

/* Call To Action */

#cta{
    text-align: center;
    background-color: #ff4c68;
}

.cta-heading{
    padding: 7% 15% 4%;
    color: white;
    line-height: 1.5;
}

.download-button-bottom{
    margin: 0 2% 9%;
}

/* Footer  */

#footer{
    text-align: center;
    padding-bottom: 2%;
}

.logo-footer{
    padding: 7% 2% 3%;
}

